<!-- Header specific styles -->
<style>
    .container {
        margin: 0px;
        padding: 0px;
    }

    #output {
        font-size: 24px;
        background: url('/client/img/background-2.jpg');
        padding: 15px;
    }
</style>

<!-- Search and schedule header -->
<div class="container tk-museo-sans" style="width: 100%">
    <center>
        <div id="output">
            <div id="summary-region"></div>
            <div id="search-region" style="margin-top: 25px;"></div>
        </div>
    </center>
</div>