<!-- Header specific styles -->
<style>
    .container {
        margin: 0px;
        padding: 0px;
    }

    #output {
        font-size: 24px;
        background: url('/client/img/background.jpg');
        height: 300px;
        padding: 15px;
    }

    /*
    #output-inner {
        width: 25%;
        background: rgba(255,255,255,0.5);
        border-radius: 2px;
        margin-bottom: 25px;
    }
    */
    .glyphicon::before {
        padding-right: 15px;
    }
</style>

<!-- Search and schedule header -->
<div class="container tk-museo-sans" style="width: 100%">
    <center>
        <div id="output" style="">
            <div id="output-inner">
                <!-- Title -->
                <span class="glyphicon glyphicon-plus"></span>
                <span id="output-title">
            {{ title }}
        </span><br>

                <!-- Duration of the event -->
                <span class="glyphicon glyphicon-time"></span>
                <span id="output-time">
            {{ duration_minutes }} minutes
        </span><br>

                <!-- Deadline for the event -->
                <span class="glyphicon glyphicon-calendar"></span>
                <span id="output-date">
            Before {{ clean_deadline }}
        </span><br>

                <!-- Does the event repeat? -->
                <span class="glyphicon glyphicon-repeat"></span>
                <span id="output-repeat">
            {{#if repeats}}
            Every {{ repeat_duration }} {{ repeat_units }}
            {{ else }}
            Never
            {{/if}}
        </span><br>

                <!-- Queue to which the event belongs -->
                <span class="glyphicon glyphicon-bookmark"></span>
                <span id="output-queue">
            #{{ queue }}
        </span><br>
            </div>

            <form role="form">
                <div class="form-group">
                    <input id="input" type="email" class="form-control"
                           style="font-size: 32pt; height: 48pt; width: 50%;">
                </div>
            </form>
        </div>
    </center>
</div>